<nav>
   <a href="https://github.com/ShishantG87">GitHub</a> -
   <a href="https://shishantg87.github.io/">GitHub.io</a> -
   <a href="index.html">WEB215</a> -
   <a href="https://www.freecodecamp.org/shishantb">FreeCodeCamp</a> -
   <a href="https://www.codecademy.com/profiles/ShishantBohora">Codecademy</a> -
   <a href="https://jsfiddle.net/u/shishant12/fiddles/">JSFiddle</a> -
   <a href="https://www.linkedin.com/in/shishant-bohora-708760294/">LinkedIn</a>
</nav>
<p>
   Website designed by Shishant Bohora &copy; 2025 | Certified in
   <a href="https://www.freecodecamp.org/certification/shishantb/responsive-web-design">
    RWD
    </a>&
   <a href="https://www.freecodecamp.org/certification/shishantb/javascript-algorithms-and-data-structures-v8">
    JADS
    </a>
</p>
   