html, body {
    height: 100vh;
    padding: 0;
    /* Layout to make page take full screen */
}


body {
    background-color: rgb(184, 153, 212);
    min-height:100vh;
    padding: 0;
}

main h2 {
    margin-top: 30px;
}

main p{
    text-align: left;
    margin-top: 30px;
}
nav {
    padding-left: 00px;
}
h1, h2 {
    font-family: 'Courier New';

}
p, a {
    font-family: 'sans-serifs';
    font-size: 19px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-nav {
    display:flex;
    gap: 10px;

}
a {
    text-decoration-style: wavy;
    color: black;
}


main {
    max-width:800px;
    margin: 0 auto;
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:sticky;
    top: 100%;
    }