html, body {
    height: 100vh;
    padding: 0;
    /* Layout to make page take full screen */
}

.intro-img{
    display:block;
    margin-top:0;
    margin-bottom:50px;
}

.caption {
    position:relative;
    bottom: 50px;
}

body {
    background-color: rgb(184, 153, 212);
    min-height:100vh;
    padding: 0;
}

.second-title {
    position: relative;
    bottom: 80px;
    color: #65AFC8;
    margin-bottom:0;
    
    font-size:40px;
}

main li {
    color: #8ccee4;
    text-align: left;
    font-size:21px;
    margin-bottom:10px;
   

}
.home-text {
     
}
main p, .noL-url {
    color: #8ccee4;
    text-align: left;
    margin-top: 10px;
}
nav {
    padding-left: 00px;
}
h1, h2 {
    font-family: 'Courier New';

}
p, a {
    font-family: 'sans-serifs';
    font-size: 19px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-nav {
    display:flex;
    gap: 10px;

}
a {
    
    color: black;
}


main {
    max-width:800px;
    margin: 0 auto;
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#340E0E;
    border: 8px solid black;
    padding: 100px
}

.layout-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:sticky;
    top: 100%;
    }

    .foot-links a{
        margin-right: 15px;
    }
